html {
  height: 100vh;
  width: 100vw;
  font-size: 12px;
}

*,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  display: grid;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.product-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.product-container-item {
  width: 50%;
  padding: 20px;
  margin: 25px;

  box-shadow: 0 5px 0 #ebebeb;
  display: flex;
  align-items: center;
  flex-direction: column;

  border: 1px solid;
  border-radius: 10px;
}

.product-container-item-name {
  width: 95%;
  height: fit-content;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 5px 0 #ebebeb;

  background-color: linen;
  border-radius: 10px;
}

/* OPTIONS */
.options-container-head {
  display: flex;
  justify-content: space-between;
  text-align: center;

  margin: 10px;
}

.options-container-head h4 {
  width: 50%;
}

.options-container {
  width: 95%;
  padding: 10px;

  display: flex;
  flex-direction: column;

  margin-top: 25px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 0 5px 0 #ebebeb;
}

.options-item {
  display: flex;
  margin: 15px;
}

.options-item-name {
  width: 50%;
}

.options-item-value {
  width: 50%;
}

.options-name {
  font-weight: bold;
}

/* SPECS */
.specs-container-head {
  display: flex;
  justify-content: space-between;
  text-align: center;

  padding: 10px;
}

.specs-container-head h4 {
  width: 50%;
}

.specs-container {
  width: 95%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  margin-top: 25px;

  box-shadow: 0 5px 0 #ebebeb;
  border-radius: 10px;
  background-color: lavenderblush;
}

.specs-item {
  display: flex;
  margin: 15px;
}

.specs-item-name {
  width: 50%;
}

.specs-item-value {
  width: 50%;
}

.specs-name {
  font-weight: bold;
}

.specs-notation {
  cursor: pointer;
  margin: 5px;
  text-align: center;
}

.product-container-item-name p {
  font-size: 12px;
}

.image-gallery.image-gallery-using-mouse {
  width: 100%;
}

.image-gallery-slide-wrapper.bottom {
  width: 400px;
  height: fit-content;
}

.image-gallery-content.bottom {
  position: relative;
  line-height: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-gallery-thumbnails-container {
  display: flex;
  flex-wrap: wrap;
}

.image-gallery-thumbnail {
  width: 70px !important;
  height: 70px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.image-gallery-container {
  margin: 25px;
}

.image-gallery.image-gallery-using-mouse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery-content.bottom.fullscreen {
  width: 50%;
}

.image-gallery-slide-wrapper.bottom {
  width: 100%;
}

/*BUTTON-BAR*/
.button-bar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
  margin: 0 25px 5px 25px;
  border: 1px solid;
  border-radius: 10px;
  background-color: gray;
  box-shadow: 0 5px 0 #ebebeb;
}

.button-bar-content-top {
  display: flex;
  justify-content: space-between;
}

.button-bar-content-center-bt {
  display: flex;
}

.button-bar-content-center button {
  margin: 5px;
}

.button-bar-info-content {
  text-align: center;
  color: black;
}

.button-bar-content-left button {
  width: 80px;
  height: 80px;
  margin: 5px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.17);
  border: 0;
  color: #fff;
}

.btn-back {
  background-color: steelblue;
}

.btn-forward {
  background-color: plum;
}

.btn-confirm {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: forestgreen;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.17);
  border: 0;
  color: #fff;
}

.btn-questions {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: orange;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.17);
  border: 0;
  color: #fff;
}

.btn-unconfirmed {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: firebrick;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.17);
  border: 0;
  color: #fff;
}

.btn-warning {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: yellow !important;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.17);
  border: 0;
  color: #000;
}

.btn-mismatch {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: firebrick;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.17);
  border: 0;
  color: #fff;
}

.button-modal-auth {
  display: none;
}

.button-bar-content-right {
  display: flex;
}

.button-bar-content-right button {
  margin: 5px;
}

/*.button-bar-contaner {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*}*/

.logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.modal-body.modal-auth-body {
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: fit-content;
  width: 100%;
}

.auth-button {
  width: 50px;
}

.modal-body-input-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.modal-body-input-form input {
  width: 300px;
}

.modal-body-input-login {
  margin-bottom: 10px;
  border: 2px double;
  border-radius: 5px;
  padding: 10.5px 8px;
}

.modal-body-input-password {
  border: 2px double;
  border-radius: 5px;
  padding: 10.5px 8px;
}

.modal-auth {
  display: flex !important;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.modal-auth-dialog {
  width: 500px;
}

.logout-user-name {
  margin-right: 10px;
}

.modal-header .close {
  padding: 5px;
  width: 40px;
  height: 40px;
}

.modal-body-input-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.modal-body-button-form button {
  width: 50px;
  background-color: #000;
  border: 0 solid transparent;
  cursor: pointer !important;
  color: #fff;
  border-radius: 100px;
  outline: none;
  height: 30px;
}

/*STATISTIC*/
.statistic-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  color: #fff;
}

/* SEARCH */
.search-content {
  padding: 5px 15px 5px 15px;
  margin: 0 25px 5px 25px;
}

.search-content input {
  margin: 10px;
}

/* REVIEW */
.review-container {
  display: flex;
  flex-direction: column;
}

.review-content-head {
  display: flex;
  font-size: 22px;
  flex-direction: column;
  align-items: center;
}

.review-content-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.review-content-right {
  width: 100%;
}

.review-inputs-container {
  display: flex;
}
.review-inputs-container div {
  margin: 15px;
}

/* INPUTS */
